.sortContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__select {
    border-radius: 32px;
    border: 2px solid #000;
    background: #fff;
    box-shadow: 4px 4px 0px 0px #000;
    padding: 12px 27px;
    color: #444;
    font-size: 16px;
    font-weight: 400;
  }

  &__text {
    color: #444;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-top: 32px;
    margin-bottom: 24px;
  }

  &__btn {
    border: 2px solid #000;
    background: #fe652b;
    box-shadow: 4px 4px 0px 0px #000;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 18px 40px;
    border-radius: 37.5px;
    display: flex;
    align-items: center;
    gap: 26px;
  }

  &__amigo {
    color: rgba(254, 101, 43, 0.99);
    font-size: 25px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 32px;
  }
}
